.meter { 
	background: #4C9900; 
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius:15px;
	box-shadow: 5px 5px 3px #888888;	 
	background-image: -webkit-gradient(
			  linear,
			  left bottom,
			  left top,
			  color-stop(0, #4C9900),
			  color-stop(1, #4C9900)
			 );
			background-image: -moz-linear-gradient(
			  linear,
			  left bottom,
			  left top,
			  color-stop(0, #4C9900),
			  color-stop(1, #4C9900)
			 );
			-webkit-box-shadow: 
			  inset 0 2px 9px  rgba(255,255,255,0.3),
			  inset 0 -2px 6px rgba(0,0,0,0.4);
			-moz-box-shadow: 
			  inset 0 2px 9px  rgba(255,255,255,0.3),
			  inset 0 -2px 6px rgba(0,0,0,0.4);
			box-shadow: 
			  inset 0 2px 9px  rgba(255,255,255,0.3),
			  inset 0 -2px 6px rgba(0,0,0,0.4);
		}
	#effect
	{
	width:15px;
	margin-left:-15px;
	opacity:0.5;
	background-color:white;
	}